@import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-user-select: none;
  -webkit-user-drag: none;
}

body {
  background-color: #d5bdaf;
  display: grid;
  place-content: center;
  font-family: 'Gloria Hallelujah', cursive;
  height: 100vh;
  font-size: 1.5rem;
}

button {
  font-family: 'Gloria Hallelujah', cursive;
}

.container {
  display: flex;
  width: 100%;
  gap: 2rem;
}

.wrapper {
  display: grid;
  margin-top: 10%;
  height: 60vh;
  width: 100vh;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(6, 1fr);
}

.screen {
  grid-column: 1 / -1;
  text-align: right;
  font-size: 2rem;
  overflow: hidden;
  background-color: rgb(147, 141, 141);
  margin-bottom: 2px;
}

.btn {
  display: grid;
  place-content: center;
  background-color: #ddd;
  color: #333;
  cursor: pointer;
  font-weight: bold;
  border: 1px solid #bababa;
}

.btn:hover {
  background-color: gray;
}

.light-gray {
  background-color: gray;
  color: black;
}

.light-gray:hover {
  background-color: white;
}

.orange {
  background-color: #e18132;
}

.orange:hover {
  background-color: white;
  color: #d28f14;
}

.zero {
  grid-column: 1 / span 2;
  place-content: unset;
  align-items: center;
  padding-left: 2rem;
  border: 1px solid #bababa;
}

h2 {
  color: #4f4e4e;
  text-align: left;
  margin-left: 4%;
}

h3 {
  font-size: 30px;
  margin-top: 10%;
}

p {
  text-align: center;
}

ul {
  list-style-type: none;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  border: 5px solid #333;
  padding: 10px;
}

.nav-links {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-links li:not(:last-child) {
  margin-right: 10px;
}

.nav-links a {
  text-decoration: none;
  color: #00008b;
}

.logo {
  font-size: 40px;
  font-weight: 800;
  text-decoration: none;
  color: #333;
}

.logo a {
  color: #333;
}

.quote {
  margin-top: 5%;
  height: 200px;
}
