@import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-user-select: none;
  -webkit-user-drag: none;
}

body {
  background-color: #d5bdaf;
  display: grid;
  place-content: center;
  font-family: 'Gloria Hallelujah', cursive;
  height: 100vh;
  font-size: 1.5rem;
}

button {
  font-family: 'Gloria Hallelujah', cursive;
}

.container {
  height: 80vh;
  margin-top: 10%;
  margin-left: 20%;
  width: 100vh;
  border-radius: 1rem;
  -webkit-box-shadow: 7px 7px 5px 0 rgba(50, 50, 50, 0.75);
  -moz-box-shadow: 7px 7px 5px 0 rgba(50, 50, 50, 0.75);
  box-shadow: 7px 7px 5px 0 rgba(50, 50, 50, 0.75);
}

.wrapper {
  display: grid;
  height: 100%;
  width: 100%;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(6, 1fr);
}

.screen {
  grid-column: 1 / -1;
  text-align: right;
  font-size: 2rem;
  overflow: hidden;
  background-color: rgb(147, 141, 141);
  margin-bottom: 2px;
}

.btn {
  display: grid;
  place-content: center;
  background-color: #ddd;
  color: #333;
  cursor: pointer;
  font-weight: bold;
  border: 1px solid #bababa;
}

.btn:hover {
  background-color: gray;
}

.light-gray {
  background-color: gray;
  color: black;
}

.light-gray:hover {
  background-color: white;
}

.orange {
  background-color: #e18132;
}

.orange:hover {
  background-color: white;
  color: #d28f14;
}

.zero {
  grid-column: 1 / span 2;
  place-content: unset;
  align-items: center;
  padding-left: 2rem;
  border: 1px solid #bababa;
}

h2 {
  color: darkblue;
  text-align: center;
}

p {
  color: darkblue;
  text-align: center;
}
